sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:element name="StartDate" type="xs:date" />
    <xs:element name="StartTime" type="xs:time" />
    <xs:element name="Duration" type="xs:duration" />
    <xs:element name="UniqueID" type="xs:string" />
    <xs:element name="StudyID" type="xs:string" />
    <xs:element name="SiteID" type="xs:string" />
    <xs:element name="InvestigatorID" type="xs:string" />
    <xs:element name="UniqueSubjectID" type="xs:string" />
    <xs:element name="SubjectID" type="xs:string" />
    <xs:element name="SubjectAge" type="xs:duration" />
    <xs:element name="SubjectRace" type="xs:string" />
    <xs:element name="TreatmentCode" type="xs:string" />
    <xs:element name="TreatmentGroup" type="xs:string" />
    <xs:element name="Country" type="xs:string" />
    <xs:element name="VisitNumber" type="xs:string" />
    <xs:element name="VisitDay" type="xs:string" />
    <xs:element name="VisitName" type="xs:string" />
    <xs:element name="DisplayText" type="xs:string" />
    <xs:element name="Comment" type="xs:string" />
    <xs:element name="TimeSinceSessionStart" type="xs:duration" default="P0Y"/>
    <xs:element name="TimeDuration" type="xs:duration" />
    <xs:element name="Type" type="xs:string" />
    <xs:element name="Manufacturer" type="xs:string" />
    <xs:element name="Model" type="xs:string" />
    <xs:element name="SerialNumber" type="xs:string" />
    <xs:element name="DeviceID" type="xs:string" />
    <xs:element name="SoftwareVersion" type="xs:string" />
    <xs:element name="XOffset" type="xs:float" default="0"/>
    <xs:element name="Connected" type="xs:boolean" default="true" />
    <xs:element name="AspectRatio" type="xs:float" default="1" />
    <xs:element name="BeginningValue" type="xs:float" />
    <xs:element name="EndingValue" type="xs:float" />
    <xs:element name="Unit" type="xs:string" />
    <xs:element name="MinorTickInterval" type="xs:float" />
    <xs:element name="MajorTickInterval" type="xs:float" />
    <xs:element name="LogScale" type="xs:boolean" default="false" />
    <xs:element name="RealTime" type="xs:boolean" default="false" />
    <xs:element name="Scale" type="xs:float" default="1" />
    <xs:element name="Offset" type="xs:float" default="0" />
    <xs:element name="InitialValue" type="xs:float" />
    <xs:element name="Increment" type="xs:float" />
    <xs:element name="YValue" type="xs:float" />
    <xs:element name="XValue" type="xs:float" />

    <xs:element name="RecordingSessionPlots">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="StartDate" />
                <xs:element ref="StartTime" />
                <xs:element ref="Duration" minOccurs="0" />
                <xs:element ref="UniqueID" minOccurs="0"/>
                <xs:element name="PlotGroup" type="PlotGroupType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="TrialIdentifiers" type="TrialIdentifiersType" minOccurs="0" />
                <xs:element name="RecordingDevice" type="RecordingDeviceType" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="FormatVersion" fixed="1.0" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TrialIdentifiersType">
        <xs:sequence>
            <xs:element ref="StudyID" />
            <xs:element ref="SiteID" minOccurs="0" />
            <xs:element ref="InvestigatorID" minOccurs="0"/>
            <xs:element ref="UniqueSubjectID" minOccurs="0"/>
            <xs:element ref="SubjectID" minOccurs="0"/>
            <xs:element ref="SubjectAge" minOccurs="0"/>
            <xs:element name="SubjectSex" type="SexType" minOccurs="0"/>
            <xs:element ref="SubjectRace" minOccurs="0" />
            <xs:element ref="TreatmentCode" minOccurs="0" />
            <xs:element ref="TreatmentGroup" minOccurs="0" />
            <xs:element ref="Country" minOccurs="0" />
            <xs:element ref="VisitNumber" minOccurs="0" />
            <xs:element ref="VisitDay" minOccurs="0" />
            <xs:element ref="VisitName" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RecordingDeviceType">
        <xs:sequence>
            <xs:element name="Type" minOccurs="0"/>
            <xs:element name="Manufacturer" minOccurs="0"/>
            <xs:element name="Model" minOccurs="0"/>
            <xs:element name="SerialNumber" minOccurs="0"/>
            <xs:element name="DeviceID" minOccurs="0"/>
            <xs:element name="SoftwareVersion" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PlotGroupType">
        <xs:sequence>
            <xs:element name="Label" type="PlotGroupLabelType" />
            <xs:element ref="Comment" minOccurs="0" />
            <xs:element ref="TimeSinceSessionStart" />
            <xs:element ref="TimeDuration" minOccurs="0" />
            <xs:element name="XAxisDomain" type="XAxisDomainType" />
            <xs:element name="XYPlot" type="XYPlotType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="XAxisNotation" type="AxisNotationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="PointNotationType">
        <xs:sequence>
            <xs:element ref="XValue"/>
            <xs:element ref="YValue"/>
            <xs:element name="Label" type="PointNotationLabelType" />
            <xs:element ref="Comment" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XAxisDomainType">
        <xs:sequence>
            <xs:element ref="Unit"/>
            <xs:element name="Label" type="XAxisDomainLabelType" />
            <xs:element ref="MinorTickInterval" minOccurs="0" />
            <xs:element ref="MajorTickInterval" minOccurs="0" />
            <xs:element ref="LogScale" />
            <xs:element ref="RealTime" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AxisNotationType">
        <xs:sequence>
            <xs:element ref="BeginningValue" />
            <xs:element ref="EndingValue" minOccurs="0" />
            <xs:element name="Label" type="AxisNotationLabelType" />
            <xs:element ref="Comment" minOccurs="0" /> 
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValuesType">
        <xs:sequence>
            <xs:element ref="Scale" />
            <xs:element ref="Offset" />
            <xs:choice minOccurs="0">
                <xs:sequence>
                    <xs:element ref="InitialValue" minOccurs="0" />
                    <xs:element ref="Increment" minOccurs="0" />    
                </xs:sequence>

                <xs:element name="ValuesList" type="ValuesListType" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XYPlotType">
        <xs:sequence>
            <xs:element name="Label" type="XYPlotLabelType" />
            <xs:element ref="Comment" minOccurs="0" />
            <xs:element ref="XOffset" />
            <xs:element ref="Connected" />
            <xs:element ref="AspectRatio" />
            <xs:element name="YAxisDomain" type="YAxisDomainType" />
            <xs:element name="XValues" type="ValuesType" />
            <xs:element name="YValues" type="ValuesType" />
            <xs:element name="PointNotation" type="PointNotationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="XAxisNotation" type="AxisNotationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="YAxisNotation" type="AxisNotationType" minOccurs="0" maxOccurs="unbounded"/> 
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="YAxisDomainType">
        <xs:sequence>
            <xs:element ref="Unit" />
            <xs:element name="Label" type="YAxisDomainLabelType" />
            <xs:element ref="MinorTickInterval" minOccurs="0" />
            <xs:element ref="MajorTickInterval" minOccurs="0" />
            <xs:element ref="LogScale" /> 
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ValuesListType">
        <xs:list itemType="xs:float"/>
    </xs:simpleType>

    <xs:simpleType name="SexType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M">
                <xs:annotation>
                    <xs:documentation>Male</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="F">
                <xs:annotation>
                    <xs:documentation>Female</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PlotGroupLabelType">
        <xs:sequence>
            <xs:element ref="DisplayText" />
            <xs:element name="Code" type="PlotGroupLabelCodeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PlotGroupLabelCodeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="AxisNotationLabelType">
        <xs:sequence>
            <xs:element ref="DisplayText"/>
            <xs:element name="Code" type="AxisNotationLabelCodeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="AxisNotationLabelCodeType">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:complexType name="PointNotationLabelType">
        <xs:sequence>
            <xs:element ref="DisplayText"/>
            <xs:element name="Code" type="PointNotationLabelCodeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PointNotationLabelCodeType">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:complexType name="XAxisDomainLabelType">
        <xs:sequence>
            <xs:element ref="DisplayText"/>
            <xs:element name="Code" type="XAxisDomainLabelCodeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="XAxisDomainLabelCodeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="YAxisDomainLabelType">
        <xs:sequence>
            <xs:element ref="DisplayText"/>
            <xs:element name="Code" type="YAxisDomainLabelCodeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="YAxisDomainLabelCodeType">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:complexType name="XYPlotLabelType">
        <xs:sequence>
            <xs:element ref="DisplayText"/>
            <xs:element name="Code" type="XYPlotLabelCodeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="XYPlotLabelCodeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>